/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #000;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #000;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase; }
  h2 span {
    background: #000;
    padding: 2px 20px;
    display: inline-block; }
  @media (min-width: 768px) {
    h2 {
      font-size: 52px;
      line-height: 60px; }
      h2 span {
        padding: 5px 40px; } }

.modal {
  color: #000;
  background: #fff;
  padding: 30px 20px; }
  .modal .form-title {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase; }
  .modal .btn {
    width: 100%;
    margin-top: 15px; }
  @media (min-width: 768px) {
    .modal {
      padding: 30px 40px; } }

.done {
  width: 100%;
  height: 100%;
  position: relative;
  display: table; }
  .done body {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table-cell;
    position: relative;
    background: #f3f0e9;
    vertical-align: middle; }
  .done .done__head {
    font-size: 30px;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .done .done__title {
    font-size: 20px;
    margin-bottom: 20px; }
  .done .done__text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px; }
  @media (min-width: 768px) {
    .done .done__head {
      font-size: 60px; }
    .done .done__title {
      font-size: 45px;
      margin-bottom: 20px; }
    .done .done__text {
      font-size: 30px; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 1050px) {
    .container {
      width: 1020px; } }
  @media (min-width: 1280px) {
    .container {
      width: 1245px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1050px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn-green {
  margin: 0;
  color: #000;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 10px 15px;
  background: transparent;
  display: inline-block;
  text-decoration: underline;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  border: 3px solid #09a34a; }
  .btn-green:hover {
    color: #fff;
    background: #09a34a;
    text-decoration: none; }
  .btn-green:active {
    top: 1px; }
  @media (min-width: 768px) {
    .btn-green {
      font-size: 24px;
      line-height: 30px;
      padding: 12px 25px;
      border-width: 5px; } }
  @media (min-width: 1050px) {
    .btn-green {
      font-size: 55px;
      line-height: 60px;
      padding: 12px 25px;
      border-width: 5px; } }

.btn-md {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  padding: 15px 15px; }
  @media (min-width: 1280px) {
    .btn-md {
      font-size: 50px;
      line-height: 50px;
      padding: 22px 37px; } }

.btn-white {
  color: #fff; }
  .btn-white:hover {
    color: #fff; }

.btn {
  margin: 0;
  color: #000;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 10px 15px;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  touch-action: manipulation;
  border: 3px dashed #000; }
  .btn:hover {
    color: #fff;
    background: #000;
    text-decoration: none; }
  .btn:active {
    top: 1px; }

.btn-color {
  color: #75ba67;
  border-color: #75ba67; }
  .btn-color:hover {
    color: #fff;
    background: #75ba67; }

.form-control {
  margin: 0;
  width: 100%;
  color: #000;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px;
  display: inline-block;
  background: transparent;
  border: 1px solid #75ba67; }
  .form-control::-moz-placeholder {
    color: #000;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #000; }
  .form-control::-webkit-input-placeholder {
    color: #000; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 20px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1050px) and (max-width: 1279px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1050px) and (max-width: 1279px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1050px) and (max-width: 1279px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1050px) and (max-width: 1279px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1280px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1280px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1280px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1280px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1049px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 1050px) and (max-width: 1279px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1280px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.tabs .tabs-item {
  display: none; }
  .tabs .tabs-item.active {
    display: block; }

.header {
  height: 200px;
  background: url("../img/header_bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .header {
      height: 500px; } }
  @media (min-width: 1050px) {
    .header {
      height: 600px; } }
  @media (min-width: 1280px) {
    .header {
      height: 744px;
      background-size: auto auto; } }

.project {
  padding-top: 70px;
  padding-bottom: 60px;
  background: url("../img/project_bg.jpg") 50% 0 no-repeat;
  background-size: cover; }
  .project.open .project-thumbs {
    display: none; }
  .project.open .project-content {
    display: block; }
  .project .tabs-nav {
    padding: 0;
    margin: 0 auto 35px auto;
    max-width: 400px; }
    .project .tabs-nav li {
      margin-bottom: 15px; }
      .project .tabs-nav li a {
        width: 100%;
        color: #000;
        display: table;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-decoration: underline; }
        .project .tabs-nav li a span {
          padding: 0 30px;
          height: 70px;
          display: table-cell;
          vertical-align: middle;
          border: 5px solid #000; }
        .project .tabs-nav li a:hover {
          text-decoration: none; }
      .project .tabs-nav li.active a {
        color: #fff;
        font-weight: 700;
        background: #000;
        text-decoration: none; }
  .project .project-group.hover .project-item img {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    filter: url("img/gray.svg#grayscale");
    filter: gray; }
  .project .project-group.open .project-elem {
    display: none; }
  .project .project-group.open .project-content {
    display: block; }
  .project .project-item {
    display: block;
    max-width: 593px;
    position: relative;
    margin: 0 auto 30px auto; }
    .project .project-item .project-item-text {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      padding: 10px;
      display: none;
      overflow: hidden;
      position: absolute;
      background: rgba(158, 80, 142, 0.8); }
      .project .project-item .project-item-text h4 {
        color: #fff;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 5px; }
      .project .project-item .project-item-text p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 0;
        max-width: 320px; }
    .project .project-item:hover img {
      -webkit-filter: grayscale(0%);
      -webkit-filter: grayscale(0);
      filter: grayscale(0%);
      filter: none; }
    .project .project-item:hover .project-item-text {
      display: block; }
  .project .project-content {
    color: #000;
    display: none;
    margin: 0 auto;
    max-width: 930px; }
    .project .project-content .project-video {
      margin-bottom: 40px; }
    .project .project-content .project-title {
      font-size: 36px;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 45px; }
    .project .project-content p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 20px; }
    .project .project-content .project-content-item {
      display: none;
      padding-bottom: 45px; }
      .project .project-content .project-content-item.active {
        display: block; }
  @media (min-width: 768px) {
    .project {
      padding-bottom: 120px; }
      .project .tabs-nav {
        max-width: inherit;
        margin: 0 -9px 50px -9px; }
        .project .tabs-nav > li {
          float: left;
          width: 33.33%;
          padding: 0 9px;
          margin-bottom: 0; } }
  @media (min-width: 1050px) {
    .project .tabs-nav > li a {
      font-size: 24px;
      line-height: 30px; }
      .project .tabs-nav > li a span {
        height: 94px; }
    .project .project-item .project-item-text h4 {
      font-size: 50px;
      line-height: 52px; }
    .project .project-item .project-item-text p {
      font-size: 18px;
      line-height: 22px; }
    .project .project-content .project-title {
      font-size: 53px; }
    .project .project-content p {
      font-size: 18px;
      line-height: 24px; } }
  @media (min-width: 1280px) {
    .project {
      background-size: auto auto;
      min-height: 1534px; }
      .project .tabs-nav > li a {
        font-size: 36px;
        line-height: 38px; } }

.clients {
  min-height: 500px;
  padding-top: 65px;
  padding-bottom: 50px;
  background: url("../img/partners_bg.jpg") 50% 0 no-repeat; }
  .clients h2 {
    margin-bottom: 20px; }
  .clients .brand-list {
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    text-align: center;
    margin: 0 -5px 35px -5px; }
    .clients .brand-list li {
      display: inline-block;
      padding: 0 5px 10px 5px; }
      .clients .brand-list li img {
        display: inline-block;
        max-width: 100%;
        height: auto; }
  .clients .btn-clients {
    color: #000;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #000; }
    .clients .btn-clients:hover {
      border-bottom-color: transparent; }
  @media (min-width: 768px) {
    .clients .btn-clients {
      font-size: 36px;
      line-height: 40px; } }
  @media (min-width: 1280px) {
    .clients {
      background-size: auto auto; } }

.command {
  min-height: 850px;
  padding-top: 60px;
  padding-bottom: 30px;
  background: #d6e7cd url("../img/command_bg.jpg") 50% 0 no-repeat; }
  .command h2 {
    margin-bottom: 40px; }
  .command .user {
    margin-bottom: 60px; }
    .command .user:before, .command .user:after {
      content: " ";
      display: table; }
    .command .user:after {
      clear: both; }
    .command .user .user-photo {
      width: 124px;
      margin: 0 auto 10px auto; }
    .command .user .user-text {
      font-size: 18px;
      line-height: 22px;
      text-align: center; }
      .command .user .user-text a {
        text-decoration: underline; }
        .command .user .user-text a:hover {
          text-decoration: none; }
  .command .about {
    padding-top: 20px; }
    .command .about li {
      font-size: 16px;
      line-height: 22px; }
      .command .about li:first-child {
        margin-bottom: 20px; }
  @media (min-width: 768px) {
    .command .user {
      width: 100%;
      display: table; }
      .command .user .user-photo {
        margin: 0;
        display: table-cell; }
      .command .user .user-text {
        text-align: left;
        padding-left: 12px;
        display: table-cell;
        vertical-align: bottom; }
    .command .about {
      width: 100%;
      display: table; }
      .command .about li {
        display: table-cell;
        vertical-align: top; }
        .command .about li:first-child {
          width: 200px;
          padding-right: 40px; } }
  @media (min-width: 1050px) {
    .command .user .user-text {
      font-size: 20px;
      line-height: 24px; }
    .command .about {
      padding-top: 60px; }
      .command .about li {
        font-size: 20px;
        line-height: 24px; }
        .command .about li:first-child {
          width: 286px;
          padding-right: 90px; } }
  @media (min-width: 1050px) {
    .command .about li {
      font-size: 24px;
      line-height: 30px; }
      .command .about li:first-child {
        width: 340px; } }

.footer {
  color: #fff;
  padding: 36px 0;
  background: #000;
  text-align: center; }
  .footer a {
    color: #fff; }
  .footer .social {
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    margin: 0 -12px 20px -12px; }
    .footer .social li {
      padding: 0 6px;
      display: inline-block; }
      .footer .social li a {
        border: none;
        outline: none;
        display: inline-block; }
  .footer .footer-tel {
    font-size: 28px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 20px; }
  .footer .footer-copy {
    font-size: 24px;
    line-height: 30px; }
  @media (min-width: 768px) {
    .footer .social {
      float: left; }
    .footer .footer-tel {
      float: right;
      font-size: 32px;
      line-height: 50px; }
    .footer .footer-copy {
      float: left;
      width: 100%; } }
  @media (min-width: 1050px) {
    .footer .social {
      float: left;
      margin-bottom: 0;
      margin-right: 40px; }
    .footer .footer-tel {
      float: left;
      margin-bottom: 0; }
    .footer .footer-copy {
      float: right;
      width: auto;
      line-height: 50px; } }

/*# sourceMappingURL=main.css.map */
