* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


h2 {
	color: #fff;
	font-size: 28px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-bottom: 60px;
	text-transform: uppercase;

	span {
		background: #000;
		padding: 2px 20px;
		display: inline-block;
	}

	@media (min-width: $screen-sm-min) {

		font-size: 52px;
		line-height: 60px;

		span {
			padding: 5px 40px;
		}
	}
}

// Modal

.modal {
	color: #000;
	background: #fff;
	padding: 30px 20px;

	.form-title {
		font-size: 24px;
		line-height: 26px;
		text-align: center;
		margin-bottom: 25px;
		text-transform: uppercase;
	}

	.btn {
		width: 100%;
		margin-top: 15px;
	}


	@media (min-width: $screen-sm-min) {
		padding: 30px 40px;
	}
}


.done {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;

	body {
		width: 100%;
		height: 100%;
		text-align: center;
		display: table-cell;
		position: relative;
		background: #f3f0e9;
		vertical-align: middle;
	}


	.done__head {
		font-size: 30px;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.done__title {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.done__text {
		font-size: 18px;
		text-align: center;
		margin-bottom: 50px;
		padding-top: 40px;
	}

	@media (min-width: $screen-sm-min) {


		.done__head {
			font-size: 60px;
		}

		.done__title {
			font-size: 45px;
			margin-bottom: 20px;
		}

		.done__text {
			font-size: 30px;
		}
	}

}