.tabs {

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}


.header {
	height: 200px;
	background: url("../img/header_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	@media (min-width: $screen-sm-min) {
		height: 500px;
	}

	@media (min-width: $screen-md-min) {
		height: 600px;
	}

	@media (min-width: $screen-lg-min) {
		height: 744px;
		background-size: auto auto;
	}
}


.project {
	padding-top: 70px;
	padding-bottom: 60px;
	background: url("../img/project_bg.jpg") 50% 0 no-repeat;
	background-size: cover;

	&.open {

		.project-thumbs {
			display: none;
		}

		.project-content {
			display: block;
		}
	}

	.tabs-nav {
		padding: 0;
		margin: 0 auto 35px auto;
		max-width: 400px;

		li {
			margin-bottom: 15px;

			a {
				width: 100%;
				color: #000;
				display: table;
				font-size: 20px;
				line-height: 25px;
				text-align: center;
				text-decoration: underline;

				span {
					padding: 0 30px;
					height: 70px;
					display: table-cell;
					vertical-align: middle;
					border: 5px solid #000;
				}

				&:hover {
					text-decoration: none;
				}
			}


			&.active {

				a {
					color: #fff;
					font-weight: 700;
					background: #000;
					text-decoration: none;
				}
			}
		}
	}

	.project-group {

		&.hover {

			.project-item {

				img {
					-webkit-filter: grayscale(100%);
					-webkit-filter: grayscale(1);
					filter: grayscale(100%);
					filter: url('img/gray.svg#grayscale');
					filter: gray;
				}
			}
		}

		&.open {

			.project-elem {
				display: none;
			}

			.project-content {
				display: block;
			}
		}
	}

	.project-item {
		display: block;
		max-width: 593px;
		position: relative;
		margin: 0 auto 30px auto;

		.project-item-text {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: #fff;
			padding: 10px;
			display: none;
			overflow: hidden;
			position: absolute;
			background: rgba(158,80,142, 0.8);

			h4 {
				color: #fff;
				font-size: 24px;
				line-height: 26px;
				margin-bottom: 5px;
			}

			p {
				font-size: 14px;
				line-height: 18px;
				margin-bottom: 0;
				max-width: 320px;
			}
		}


		&:hover {

			img {
				-webkit-filter: grayscale(0%);
				-webkit-filter: grayscale(0);
				filter: grayscale(0%);

				filter: none;
			}

			.project-item-text {
				display: block;
			}
		}

	}

	.project-content {
		color: #000;
		display: none;
		margin: 0 auto;
		max-width: 930px;

		.project-video {
			margin-bottom: 40px;
		}

		.project-title {
			font-size: 36px;
			line-height: 1.1;
			font-weight: 700;
			margin-bottom: 45px;
		}

		p {
			font-size: 16px;
			line-height: 22px;
			margin-bottom: 20px;
		}

		.project-content-item {
			display: none;
			padding-bottom: 45px;

			&.active {
				display: block;
			}
		}
	}



	@media (min-width: $screen-sm-min) {
		padding-bottom: 120px;

		.tabs-nav {
			max-width: inherit;
			margin: 0 -9px 50px -9px;

			> li {
				float: left;
				width: 33.33%;
				padding: 0 9px;
				margin-bottom: 0;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.tabs-nav {

			> li {

				a {
					font-size: 24px;
					line-height: 30px;

					span {
						height: 94px;
					}
				}
			}
		}

		.project-item {

			.project-item-text {

				h4 {
					font-size: 50px;
					line-height: 52px;;
				}

				p {
					font-size: 18px;
					line-height: 22px;
				}
			}
		}

		.project-content {

			.project-title {
				font-size: 53px;
			}

			p {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		background-size: auto auto;
		min-height: 1534px;

		.tabs-nav {

			> li {

				a {
					font-size: 36px;
					line-height: 38px;
				}
			}
		}
	}
}

.clients {
	min-height: 500px;
	padding-top: 65px;
	padding-bottom: 50px;
	background: url("../img/partners_bg.jpg") 50% 0 no-repeat;

	h2 {
		margin-bottom: 20px;
	}

	.brand-list {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		text-align: center;
		margin: 0 -5px 35px -5px;

		li {
			display: inline-block;
			padding: 0 5px 10px 5px;

			img {
				@include img-responsive(inline-block);
			}
		}
	}

	.btn-clients {
		color: #000;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 20px;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #000;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $screen-sm-min) {

		.btn-clients {
			font-size: 36px;
			line-height: 40px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		background-size: auto auto;
	}
}

.command {
	min-height: 850px;
	padding-top: 60px;
	padding-bottom: 30px;
	background: #d6e7cd url("../img/command_bg.jpg") 50% 0 no-repeat;

	h2 {
		margin-bottom: 40px;
	}

	.user {
		@include clearfix();
		margin-bottom: 60px;

		.user-photo {
			width: 124px;
			margin: 0 auto 10px auto;
		}

		.user-text {
			font-size: 18px;
			line-height: 22px;
			text-align: center;

			.user-name {

			}

			.user-staff {

			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.about {
		padding-top: 20px;

		li {
			font-size: 16px;
			line-height: 22px;

			&:first-child {
				margin-bottom: 20px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.user {
			width: 100%;
			display: table;

			.user-photo {
				margin: 0;
				display: table-cell;
			}

			.user-text {
				text-align: left;
				padding-left: 12px;
				display: table-cell;
				vertical-align: bottom;
			}
		}

		.about {
			width: 100%;
			display: table;

			li {
				display: table-cell;
				vertical-align: top;

				&:first-child {
					width: 200px;
					padding-right: 40px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		.user {

			.user-text {
				font-size: 20px;
				line-height: 24px;
			}
		}

		.about {
			padding-top: 60px;

			li {
				font-size: 20px;
				line-height: 24px;

				&:first-child {
					width: 286px;
					padding-right: 90px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.about {

			li {
				font-size: 24px;
				line-height: 30px;

				&:first-child {
					width: 340px;
				}
			}
		}
	}
}

.footer {
	color: #fff;
	padding: 36px 0;
	background: #000;
	text-align: center;

	a {
		color: #fff;
	}

	.social {
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		margin: 0 -12px 20px -12px;

		li {
			padding: 0 6px;
			display: inline-block;

			a {
				border: none;
				outline: none;
				display: inline-block;
			}
		}
	}

	.footer-tel {
		font-size: 28px;
		line-height: 30px;
		display: inline-block;
		text-decoration: none;
		margin-bottom: 20px;
	}

	.footer-copy {
		font-size: 24px;
		line-height: 30px;
	}

	@media (min-width: $screen-sm-min) {

		.social {
			float: left;
		}

		.footer-tel {
			float: right;
			font-size: 32px;
			line-height: 50px;
		}


		.footer-copy {
			float: left;
			width: 100%;
		}
	}
	@media (min-width: $screen-md-min) {

		.social {
			float: left;
			margin-bottom: 0;
			margin-right: 40px;
		}

		.footer-tel {
			float: left;
			margin-bottom: 0;
		}

		.footer-copy {
			float: right;
			width: auto;
			line-height: 50px;
		}
	}
}
