.btn-green {
	margin:0;
	color: #000;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 10px 15px;
	background: transparent;
	display: inline-block;
	text-decoration: underline;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 3px solid #09a34a;


	&:hover {
		color: #fff;
		background: #09a34a;
		text-decoration: none;

	}

	&:active {
		top: 1px;
	}

	@media (min-width: $screen-sm-min) {
		font-size: 24px;
		line-height: 30px;
		padding: 12px 25px;
		border-width: 5px;
	}

	@media (min-width: $screen-md-min) {
		font-size: 55px;
		line-height: 60px;
		padding: 12px 25px;
		border-width: 5px;
	}
}


.btn-md {

	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	padding: 15px 15px;

	@media (min-width: $screen-lg-min) {
		font-size: 50px;
		line-height: 50px;
		padding: 22px 37px;
	}
}

.btn-white {
	color: #fff;

	&:hover {
		color: #fff;
	}
}


.btn {
	margin:0;
	color: #000;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 10px 15px;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 3px dashed #000;

	&:hover {
		color: #fff;
		background: #000;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-color {
	color: #75ba67;
	border-color: #75ba67;

	&:hover {
		color: #fff;
		background: #75ba67;
	}
}